@model PaginatedList<Question>

@section HeadContent
{
    <style>
        .card:hover {
            background-color: lightgrey;
        }

        a, a:hover {
            text-decoration: none;
        }
    </style>
}
<div id="toa" class="position-fixed justify-content-center align-items-center p-3" style="z-index: 5; right: 40%;top:1 !important">
    <div id="liveToast" class="shadow w-100 toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">

        <div id="notification" class="font-weight-bold text-success toast-body">
        </div>
    </div>
</div>
<div class="row mt-5">
    <div class="col-sm-12">
        <div class="font-weight-bold h3">
            @if (ViewBag.searchString != null)
            {
                <text>Questions Containing "</text> @ViewBag.searchString <text>"</text>
            }
            else if (ViewBag.myQuestions == true)
            {
                <text>Questions Asked by Me</text>
            }
            else
            {
                <text>All Questions</text>
            }
        </div>
    </div>
    <div class="col-sm-12" style="text-align:right">
        <a asp-controller="Question" asp-action="NewQuestion" class="btn btn-primary">Ask a Question</a>
    </div>
</div>

<div class="row">
    @foreach (var question in Model)
    {
        <div class="col-sm-12">
            <a asp-controller="Question" asp-action="view" asp-route-id="@question.Id">
                <div class="card mt-3">
                    <div class="card-body">

                        <div class="font-weight-bold h4 text-primary">@question.Title</div>

                        <div class="text-muted">
                            <h5>@question.Answers.Count() Answers</h5>
                            <h6>Asked By :- @question.User.UserName</h6>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    }
</div>
<div class="row mt-5 text-center">
    <div class="col-sm-12">
        <nav aria-label="...">
            @{
                var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }
            <ul class="pagination pagination-lg justify-content-center">
                <li class="page-item @prevDisabled">
                    <a class="page-link" tabindex="-1" asp-action="list" asp-route-pageNumber="@(Model.PageIndex-1)" aria-disabled="true">Previous</a>
                </li>
                @for (var i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item"><a asp-action="list" asp-route-pageNumber="@i" class="page-link">@i</a></li>
                }
                <li class="page-item @nextDisabled">
                    <a class="page-link" asp-action="list" asp-route-pageNumber="@(Model.PageIndex+1)">Next</a>
                </li>
            </ul>
        </nav>
    </div>
</div>

@section Scripts
{

    @if (ViewBag.notification != null)
    {
        <script>
            $(document).ready(function () {
                $("#notification").text('@ViewBag.notification')
                $("#liveToast").toast('show')
            })
        </script>
    }
}