@model ViewQuestionViewModel
@inject UserManager<IdentityUser> userManager;

@section HeadContent
{
    <style>
        @@media (max-width: 768px) {
            .card {
                width: 100% !important;
            }
        }

        .jumbotron {
            padding: 5px !important;
        }

        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
    <!--Markdown CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
}
<div id="toa" class="position-fixed justify-content-center align-items-center p-3" style="z-index: 5; right: 40%;top:1 !important">
    <div id="liveToast" class="shadow w-100 toast hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="2000">

        <div id="notification" class="font-weight-bold text-success toast-body">
        </div>
    </div>
</div>
<div class="card shadow w-75 mx-md-auto mt-5">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="font-weight-bold h3">@Model.Question.Title</div>
                <div class="text-muted">
                    Asked By :- @Model.Question.User.UserName
                </div>
            </div>
            @if (Model.Question.UserId == Model.UserId)
            {
                <div style="text-align:right" class="col-sm-12">
                    <a asp-action="edit" asp-controller="question" class="btn btn-secondary"
                       asp-route-id="@Model.Question.Id">Edit</a>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#staticBackdrop">Delete</button>

                    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Delete Question</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form class="float-left" asp-action="delete" method="post" id="deleteForm">
                                        <input type="hidden" name="id" id="qid" value="@Model.Question.Id" />
                                        Are You sure you want to delete this Question ?
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" form="deleteForm" class="btn btn-danger">Delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <hr />
        <div class="row mt-5">
            <div class="col-sm-12">
                <div id="question">@Markdown.ParseHtmlString(Model.Question.QuestionText)</div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="h4 font-weight-bold col-sm-12">
                @Model.Answers.Count() Answers
            </div>
            @foreach (var answer in Model.Answers)
            {
                var votes = answer.Votes.Where(a => a.IsUpVoted == true).Count()
                              - answer.Votes.Where(a => a.IsDownVoted == true).Count();

                var hasUpVoted = answer.Votes.Where(vote => vote.UserId == Model.UserId)
                                             .Where(vote => vote.IsUpVoted == true).Count();

                var hasDownVoted = answer.Votes.Where(vote => vote.UserId == Model.UserId)
                                             .Where(vote => vote.IsDownVoted == true).Count();

                <div class="col-md-1 col-sm-auto h4">
                    <div class="mt-md-3">
                        @if (hasUpVoted == 1)
                        {
                            <a asp-action="VoteAnswer" class="text-success disabled" asp-route-ansId="@answer.Id" asp-route-IsUpVoted="true">▲</a><br />
                            @votes <br />
                            <a asp-action="DeleteVote" class="text-dark" asp-route-qid="@answer.QuestionId">▼</a>
                        }
                        else if (hasDownVoted == 1)
                        {
                            <a asp-action="DeleteVote" class="text-dark" asp-route-qid="@answer.QuestionId">▲</a><br />
                            @votes <br />
                            <a asp-action="VoteAnswer" class="text-danger disabled" asp-route-ansId="@answer.Id" asp-route-IsDownVoted="true">▼</a>
                        }
                        else
                        {
                            <a asp-action="VoteAnswer" class="text-dark" asp-route-ansId="@answer.Id" asp-route-IsUpVoted="true">▲</a><br />
                            @votes <br />
                            <a asp-action="VoteAnswer" class="text-dark" asp-route-ansId="@answer.Id" asp-route-IsDownVoted="true">▼</a>
                        }

                    </div>
                </div>
                <div class="p-2 col-sm-11 col-md-11">
                    @Markdown.ParseHtmlString(answer.AnswerText)
                    
                    @if (answer.UserId == Model.UserId) 
                    {
                        <a asp-action="EditAnswer" asp-route-id="@answer.Id">Edit Answer</a> <text>|</text>
                        <a href="#" class="deleteBtn" ansId="@answer.Id" data-toggle="modal" data-target="#deleteAnsModal">Delete Answer</a>
                        <br />
                    }
                </div>
                <div class="col-sm-12 h5 text-muted">
                    Answered by @answer.User.UserName
                    <hr />
                </div>
            }
        </div>
        <div class="row mt-3">
            <div class="col-sm-12 font-weight-bold h5">
                Your Answer
            </div>
            <div class="col-sm-12">
                <form method="post" asp-action="PostAnswer" novalidate>
                    <input type="hidden" asp-for="MyAnswer" />
                    <input type="hidden" asp-for="QuestionId" value="@Model.Question.Id" />
                    <div class="form-group">
                        <textarea id="MDDescription" type="text" rows="0" cols="50"
                                  name="MDDescription" value="" required></textarea>
                    </div>
                    <div class="form-group float-right">
                        <button type="submit" id="submitBtn" class="btn btn-lg btn-primary">Post</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<br />
<br />
<div class="modal fade" id="deleteAnsModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delete Question</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="float-left" asp-action="DeleteAnswer" method="post" id="deleteAnsForm">
                    <input type="hidden" name="id" id="ansId" />
                    Are You sure you want to delete Your answer ?
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" form="deleteAnsForm" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @if (ViewBag.notification != null)
    {
        <script>
            $(document).ready(function () {
                $("#notification").text('@ViewBag.notification')
                $("#liveToast").toast('show')
            })
        </script>
    }
    <script>
        $(document).ready(function () {
            $("pre").addClass("jumbotron")
            $("code").addClass("p-0")

            let simpleMDE = new SimpleMDE({
                element: document.getElementById("MDDescription"),
                toolbar: ["bold", "italic", "heading", "preview"],
            });

            //passing data to the hidden field in the form
            function validate() {
                console.log(document.getElementById("MyAnswer").value);
                document.getElementById("MyAnswer").value = simpleMDE.value();
                console.log($("#MyAnswer").val());
                return true
            }
            $(".deleteBtn").click(function () {
                $("#ansId").val($(this).attr("ansId"))
            })

            $("#submitBtn").click(validate);
        })
    </script>
}